<html>
  <head>
    <title>Comedians</title>

  </head>
  <body>
    <h1>Comedians</h1>
    <table>

      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Specials</th>
      </tr>

      <% comedians.each do |comedian| %>

      <tr>
        <td><%= comedian.name %></td>
        <td><%= comedian.age %></td>
        <td><%= comedian.specials.first.name %></td>
      </tr>

      <% end %>

    </table>

    <h3>Average Age: <%= average_age %></h3>

  </body>
</html>